<div class="home-content-left-frame">
    <div class="home-content-left-picture">
      <a href="/content/1">
        <img src="/public/img/测试/1.jpg">
      </a>
    </div>
    <div class="home-content-left-title">
      <img src="/public/img/shortcut_32.ico">
      <a href="/content/1" class="no_hyperlink"><span>{{title}}</span></a>
    </div>
    <div class="home-content-left-message">
      <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
      <span>用户</span>
      <i class="glyphicon glyphicon-align-justify" aria-hidden="true"></i>
      <span>分类</span>
      <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
      <span>时间</span>
      <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
      <span>阅读数</span>
    </div>
  </div>